<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <% for(var i=0;i< title.length;i++){  %>
            <h1><%= title[i] %></h1>
          <% } %>
    <p>Welcome to <%= title %></p>
  </body>
</html>
